.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

a.brand  {
    background-image: url(../evs_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 32px;
    margin-top: 10px;
}
