NODE_ID={{ groups.cluster.index(inventory_hostname)+1 }}
PG_NODE_NAME=pg0{{ groups.cluster.index(inventory_hostname)+1 }}
PGP_NODE_NAME=pgpool0{{ groups.cluster.index(inventory_hostname)+1 }}
{% if ( (groups.cluster | length) == 1 ) %}
PG_INITIAL_NODE_TYPE=single
{% else %}
PG_INITIAL_NODE_TYPE={{ initial_node_type }}
{% endif %}
{% set comma = joiner(",") %}
PG_BACKEND_NODE_LIST={% for item in groups.cluster[:2] -%} {{ comma() }}{{loop.index-1}}:pg0{{ loop.index }}:5432:1:/u01/pg{{ postgres_pg_version}}/data:ALLOW_TO_FAILOVER
                     {%- endfor %}

{% set comma = joiner(",") %}
NODE_LIST={% for item in groups.cluster -%}{{ comma() }}{{ hostvars[item].inventory_hostname }}
          {%- endfor %}

DELEGATE_IP={{ pgpool_ip_failover }}/{{ pgpool_ip_failover_netmask }}
DELEGATE_IP_INTERFACE={{ pgpool_ip_failover_interface }}
TRUSTED_SERVERS={{ pgpool_trusted_servers }}

{% set comma = joiner(",") %}
PGP_HEARTBEATS={% for item in groups.cluster[:2] -%} {{ comma() }}{{loop.index-1}}:pgpool0{{ loop.index }}:9694
              {%- endfor %}

PGP_OTHERS=0:{% if groups.cluster.index(inventory_hostname) == 0 %}pgpool02{% else %}pgpool01{% endif %}:9999

{% set list1 = ms_list.split(',') %}
{% set list2 = ms_userpwdlist.split(',') %}
{% set list3 = ms_ownerpwdlist.split(',') %}
{% for i in list1 %}
{{ i | upper }}_USER_PWD={{ list2[list1.index(i)] }}
{{ i | upper }}_OWNER_PWD={{ list3[list1.index(i)] }}
{% endfor %}
MSLIST={{ ms_list }}
MSOWNERPWDLIST={{ ms_ownerpwdlist }}
MSUSERPWDLIST={{ ms_userpwdlist }}
REPMGRPWD={{ repmgr_pwd }}
ARCHIVELOG={{ postgres_archivelog is defined | ternary(postgres_archivelog,1) }}
REPMGRD_FAILOVER_MODE={{ postgres_repmgrd_failover_mode }}
PGPOOL_FAILOVER_MODE={{ postgres_pgpool_failover_mode }}
REPMGRD_RECONNECT_ATTEMPTS={{ postgres_repmgrd_reconnect_attempts }}
REPMGRD_RECONNECT_INTERVAL={{ postgres_repmgrd_reconnect_interval }}
PGPOOL_HEALTHCHECK_MAX_RETRIES={{ postgres_pgpool_healthcheck_max_retries }}
PGPOOL_HEALTHCHECK_RETRY_DELAY={{ postgres_pgpool_healthcheck_retry_delay }}
