NODE_ID={{ groups.cluster.index(inventory_hostname)+1 }}
PG_NODE_NAME=pg0{{ groups.cluster.index(inventory_hostname)+1 }}
{% if ( (groups.cluster | length) == 1 ) %}
PG_INITIAL_NODE_TYPE=single
{% else %}
PG_INITIAL_NODE_TYPE={{ initial_node_type }}
{% endif %}
{% set comma = joiner(",") %}
PG_BACKEND_NODE_LIST={% for item in groups.cluster -%} {{ comma() }}{{loop.index-1}}:pg0{{ loop.index }}:5432:1:/u01/pg96/data:ALLOW_TO_FAILOVER
                     {%- endfor %}

{% set comma = joiner(",") %}
NODE_LIST={% for item in groups.cluster -%}{{ comma() }}{{ hostvars[item].inventory_hostname }}
          {%- endfor %}

{% set list1 = ms_list.split(',') %}
{% set list2 = ms_userpwdlist.split(',') %}
{% set list3 = ms_ownerpwdlist.split(',') %}
{% for i in list1 %}
{{ i | upper }}_USER_PWD={{ list2[list1.index(i)] }}
{{ i | upper }}_OWNER_PWD={{ list3[list1.index(i)] }}
{% endfor %}
MSLIST={{ ms_list }}
MSOWNERPWDLIST={{ ms_ownerpwdlist }}
MSUSERPWDLIST={{ ms_userpwdlist }}
REPMGRPWD={{ repmgr_pwd }}
ARCHIVELOG={{ postgres_archivelog is defined | ternary(postgres_archivelog,1) }}
