---

  # let us use a group called cluster
  - add_host:
      name: "{{ item }}"
      groups: cluster
    with_items: "{{ groups.phoenix }}"
    when: groups.cluster is undefined

  #- debug: var=groups['cluster']

  - name: add config NODE_ID
    lineinfile: 
      dest: /etc/evs/config
      state: present
      regexp: '^NODE_ID='
      line: NODE_ID={{ groups.cluster.index(inventory_hostname)+1 }}

  - name: add config PG_NODE_NAME
    lineinfile: 
      dest: /etc/evs/config
      state: present
      regexp: '^PG_NODE_NAME='
      line: PG_NODE_NAME=pg0{{ groups.cluster.index(inventory_hostname)+1 }}
  
  - name: remove config PG_BACKEND_LIST
    lineinfile:
      dest: /etc/evs/config
      state: absent
      regexp: '^PG_BACKEND_NODE_LIST'

  - name: add config PG_BACKEND_NODE_LIST
    lineinfile:
      dest: /etc/evs/config
      # Comma-separated string of all postgres backends
      line: |
        {% set comma = joiner(",") %}
        PG_BACKEND_NODE_LIST={% for item in groups.cluster -%}
            {{ comma() }}{{loop.index-1}}:pg0{{ loop.index }}:5432:1:/u01/pg96/data:ALLOW_TO_FAILOVER
        {%- endfor %}
      state: present

  - name: remove config NODE_LIST
    lineinfile:
      dest: /etc/evs/config
      state: absent
      regexp: '^NODE_LIST'

  - name: add config NODE_LIST
    lineinfile:
      dest: /etc/evs/config
      # Comma-separated string of all nodename
      line: |
        {% set comma = joiner(",") %}
        NODE_LIST={% for item in groups.cluster -%}
            {{ comma() }}{{ hostvars[item].inventory_hostname }}
        {%- endfor %}
      state: present

  - name: Add IP address of all hosts in /etc/hosts 
    lineinfile:
      dest: /etc/hosts
      line: "{{ hostvars[item].ansible_host }} {{ hostvars[item].inventory_hostname }} {{ hostvars[item].inventory_hostname_short }}"
      state: present
    with_items: "{{ groups.cluster }}"

  - name: fetch postgres public ssh key
    shell: cat /home/postgres/.ssh/id_rsa.pub
    register: postgres_ssh_keys

  - name: deploy postgres public key to all servers
    authorized_key: user=postgres key="{{ item[0] }}" state=present
    delegate_to: "{{ item[1] }}"
    with_nested:
      - "{{ postgres_ssh_keys.stdout }}"
      - "{{ groups['cluster'] }}"

  - name: generate host key file
    command: "ssh-keyscan -t ecdsa-sha2-nistp256 {{ inventory_hostname }}"
    register: host_pub_key

#  - debug: var=host_pub_key.stdout

  - name: add to know_hosts of other servers
    known_hosts:
      path: /home/postgres/.ssh/known_hosts
      name: "{{ inventory_hostname }}"
      key: "{{ host_pub_key.stdout }}"
    delegate_to: "{{ item }}"
    when: item != inventory_hostname
    with_items:
      - "{{ groups['cluster'] }}"

#  - debug: var=hostvars[item]['ansible_default_ipv4']['address']
#    with_items: "{{ groups['cluster'] }}"

#  - debug: var=groups['cluster'][0]

  - lineinfile:
      dest: /etc/evs/config
      state: present
      line: 'PG_INITIAL_NODE_TYPE=master'
    when: inventory_hostname == groups.cluster[0] 

  - lineinfile:
      dest: /etc/evs/config
      state: present
      line: 'PG_INITIAL_NODE_TYPE=slave'
    when: inventory_hostname != groups.cluster[0] 

  - name: determine swarm status on manager node
    shell: >
      docker info | egrep '^Swarm: ' | cut -d ' ' -f2
    register: swarm_manager_status
    when: "inventory_hostname == groups.cluster[0]"

  - debug: var=swarm_manager_status.stdout_lines
    when: inventory_hostname == groups.cluster[0]

  - name: firewall ports for swarm
    firewalld:
      port: "{{ item }}"
      permanent: true
      state: enabled
      immediate: yes
    with_items:
      - 2376/tcp
      - 2377/tcp
      - 7946/tcp
      - 7946/udp
      - 4789/udp

  - name: init swarm
    shell: >
      docker swarm init --advertise-addr "{{ swarm_iface | default(hostvars[groups['cluster'][0]]['ansible_default_ipv4']['address']) }}"
    register: swarm_init
    when: inventory_hostname == groups['cluster'][0] and 'active' not in swarm_manager_status.stdout_lines

  - debug: var=swarm_init.stdout_lines

  - name: retrieve swarm token on manager needed by worker nodes
    shell: >
      docker swarm join-token -q worker
    register: swarm_worker_join_token
    when: inventory_hostname == groups.cluster[0]

  - name: worker nodes join swarm cluster
    shell: >
      docker swarm join --token {{ swarm_worker_join_token.stdout }} {{  swarm_iface | default(hostvars[groups['cluster'][0]]['ansible_default_ipv4']['address']) }}:2377
    ignore_errors: true
    delegate_to: "{{ item }}"
    when: inventory_hostname == groups.cluster[0] and item != groups.cluster[0]
    with_items: 
      - "{{ groups['cluster'] }}"

  - name: docker_swarm | Capturing Docker Swarm Networks
    command: "docker network ls"
    changed_when: false
    register: "docker_networks"
    when: inventory_hostname == groups.cluster[0]

  - debug: var=docker_swarm_networks

  - name: docker_swarm | Creating Docker Swarm Networks
    command: "docker network create --driver {{ item.value.driver }} --attachable {{ item.value.name }}"
    with_dict: '{{ docker_swarm_networks }}'
    when: >
          inventory_hostname == groups.cluster[0] and
          item.value.state|lower == "present" and
          item.value.name not in docker_networks.stdout

    #TODO: this is hard-coded, does not make sense since we use a var docker_swarm_networks
    # we can probably hard-code the network anyway
  - name: add config INFRA_NETWORK_NAME
    lineinfile: 
      dest: /etc/evs/config
      state: present
      regexp: '^INFRA_NETWORK_NAME='
      line: "INFRA_NETWORK_NAME=phoenix_network"

  - name: ensure directory /opt/evs/run exists
    file:
      path: /opt/evs/run
      state: directory
      owner: evs
      group: evs
      mode: 0755

  - name: install run.sh
    file:
      path: /opt/evs/run/run.sh
      state: file
      owner: evs
      group: evs
      mode: 0755
      
#  - name: install docker-compose.infra.ym in /opt/evs/run
#    template: 
#      src: "docker-compose.infra.yml"
#      dest: "/opt/evs/run/docker-compose.infra.yml"
#      owner: evs
#      group: evs
#      mode: "u=rw,g=r,o=r"

  - name: install docker-compose.infra
    copy:
      src: "{{ stage_dir }}/app/docker-compose.infra.yml"
      dest: "/opt/evs/run/docker-compose.infra.yml"
      owner: evs
      group: evs
      mode: "u=rw,g=r,o=r"
    
...
