{
  "log-driver": "journald",
  "storage-driver": "devicemapper",
  {% if insecure_registries %}
  {% set comma = joiner(",") %}
  "insecure-registries": [{% for item in insecure_registries -%}{{ comma() }}"{{ item }}"{%- endfor %}],
  {% endif %}
   "storage-opts": [
     "dm.thinpooldev=/dev/mapper/{{ storage['docker'].vg }}-thinpool",
     "dm.use_deferred_removal=true",
     "dm.use_deferred_deletion=true"
   ]
}
