{
#    {% if bootstrap != "true" %}
#    "retry-join": ["{{ join_server }}"],
#    {% endif %}
     {% set comma = joiner(",") %}
        "retry-join": {% for item in groups['cluster'] %}
                        {{ comma() }}{{ groups.cluster[item].ansible_default_ipv4.address }}
                      {% endfor %}

    "bootstrap-expect": {{ groups['cluster'] | length }},
    "server": true,
    "advertise_addr": "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}",
    "bind_addr": "0.0.0.0",
    "addresses": {
        "http": "0.0.0.0",
        "dns": "0.0.0.0"
    },
    "ports": {
        "dns": 53,
        "http": 80
    },
    "data_dir": "/var/consul",
    "recursor": "{{ dns_recursor }}"
}
