{
     {% if single_machine != true %}
       {% set comma = joiner(",") %}
       "retry-join": {% for item in groups['consul'] %}
                        {{ comma() }}{{ hostvars[item]['consul_advertise_address'] }}
                     {% endfor %}
     {% else %}
     "bootstrap": true,
     {% endif %}

    "server": true,
    "advertise_addr": "{{ consul_advertise_address }}",
    "bind_addr": "0.0.0.0",
    "addresses": {
        "http": "0.0.0.0",
        "dns": "0.0.0.0"
    },
    "ports": {
        "dns": 53,
        "http": 80
    },
    "data_dir": "/var/consul"
}
